* {
  box-sizing: border-box;
  background-color: var(--background-color2);
}

:root{
  --primary-color: #550A46;
  --secondary-color: #344a86;
  --highlight-color: #9ACEFF;
  --background-color1: #617BE3;
  --background-color2: #FCF5ED;
  --textbox-font-color: black;
  --section-title-font: 3rem;


}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
  margin: 00px;
}

h2{
  font-size: var(--section-title-font);
  border-right: solid var(--primary-color) 3px;
  width: 200px;
}

p {
  margin: 0;
}

header, footer {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-content: stretch;
  text-align: center;
  background-color: var(--background-color1);
  height: 100px;
}

header nav{ 
  display: inline;
  justify-content: space-around;  
  align-items: center;
  height: 20px;
}

header h1{
  color:var(--background-color2)
}

header nav a{
  color: var(--primary-color);
}

header a:hover{
background: var(--highlight-color);
}


.main-logo{
  background-color: var(--background-color1);
}

.hero-banner{
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  height: 250px;
}


section {
  display: grid;
  grid-template-columns: 1fr 8fr;
  margin: 20px;
}

/*
section h2{
  width: 200px
}

section div{
  width: 600px;
  margin: 10px;
}
*/

.page-section div,
.contact div{
  margin-left: 10px;
}


.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "project1 project1"
  "project1 project1"
  "project2 project3"
  "project4 project5";
}

.container div:hover
{
  font: 150% sans-serif;
  opacity: 1.0;
}

.project1{
  background-image: url(../images/02-portfolio-1.jpg);
  background-size: cover;
  opacity: 0.7;
  grid-area: project1;
  border: var(--highlight-color) solid 10px;
  padding-top: 300px;
}

.project2{
  background-image: url(../images/02-portfolio-2.jpg);
  background-size: cover;
  opacity: 0.7;
  height: 200px; 
  border: var(--highlight-color) solid 10px;
  grid-area: project2;
  padding-top: 120px;
}

.project3{
  background-image: url(../images/02-portfolio-3.jpg);
  background-size: cover;
  opacity: 0.7;
  height: 200px; 
  border: var(--highlight-color) solid 10px;
  grid-area: project3;
  padding-top: 120px;

}

.project4{
  background-image: url(../images/xr-7499160_1280.jpg);
  background-size: cover;
  opacity: 0.7;
  height: 200px; 
  border: var(--highlight-color) solid 10px;
  grid-area: project4;
  padding-top: 120px;

}

.project5{
  background-image: url(../images/ales-nesetril-unsplash.jpg);
  background-size: cover;
  opacity: 0.7;
  height: 200px; 
  border: var(--highlight-color) solid 10px;
  grid-area: project5;
  padding-top: 120px;
}


#contact nav{
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

footer p::after{
  content: "😎";
}

footer p{
  height: 100%;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 200px 200px 200px 200px;
    grid-template-areas: 
    "project1"
    "project2"
    "project3"
    "project4"
    "project5";
  }

}
